body {
    color: black;
    font-family: system-ui, BlinkMacSystemFont, 'Roboto', arial, sans-serif;
}
::-webkit-input-placeholder {
    text-align: center;
 }
#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 40px;
    align-items: center;
}
#top-bar p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}
p {
    font-size: 13px;
}
#line {
    font-size: 8px;
    padding: 100px;
}
#frame-path {
    height: 20px;
    display: flex;            
    align-items: center;      
    justify-content: center;
}
#frame-path2 {
    height: 40px;
    display: flex;            
    align-items: center;      
    justify-content: center;
}
/* Path made using https://editor.method.ac/ */
#path {
    max-width: 100%;
    max-height: 100%;
}
#path2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo {
    margin: auto;
    padding-top: 50px;
}
#search-c {
    display: flex;
    width: 400px;
    height: 40px;
    /* border: 1px solid gray; */
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#search-c:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
#search-box {
    font-size:16px;
    transition:0.4s;
    width:240px;
    height: 20px;
    border: none;
}
#button-container {
    padding-top: 15px;
}
.butt {
    height: 30px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(211, 210, 210);
    border: 1px solid gray;
}
.footext {
    padding-left: 5px;
    color: rgb(80, 78, 78);
}
#flex-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid gray;
}
.f-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.f-left > a {
    margin: 5px;
}
.f-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.f-right > p {
    margin: 5px;
}