/* global vars */
:root {
    --display-div: none;
}
/* End global vars */

html,body {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    background-color: #f8ce86;
}
#logo-container {
    margin: auto;
    width: 100%;
    text-align: center;
    /* background-color: #f89d00; */
    background-image: linear-gradient( #f89d00, #f8ce86);
}
#form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: auto;
    /* border: 1px solid #f89d00; */
    /* background-color: whitesmoke; */
    /* box-shadow: 2px 2px 4px #a86d06; */
}
#main-form {
    width: 40%;
    height: auto;
    /* border: 1px solid black; */
    margin: auto;
}
.flex-row {
    display: flex;
    flex-direction: row;
    height: 30px;
    padding-top: 20px;
}
.flex-column {
    display: flex;
    flex-direction: column;
    height: 50px;
    padding-top: 20px;
}
.centered-div {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
}
.ul-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding-top: 20px;
    margin:0px;
    padding:0px;
    overflow: hidden;
}
.ul-horizontal li {
   float: inherit;
   padding:16px;
}
/* .ul-menu li:last-child {
    margin-right: 0px;
} */
/* form elements */
#search-input {
    width: 70%;
    height: 30px;
}
#search-button {
    height: 20px;
    width: 20%;
}
/* end form elements */

#search-results {
    display: flex;
    flex-direction: column;
}
.searchR-div {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 4px gray;
}
.searchR-div:hover {
    cursor: pointer;
}
footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    color: rgb(170, 51, 51);
}
footer > p > a {
    color: indianred;
}
/* .searchR-div > div > p{
    font-size: 0.8em;
    line-height: 1.1em;
    margin-bottom: 0px;
    
} */
.div-img-search {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    padding: 20px;
}
.div-text-search {
    display: flex;
    flex-direction: column;
}
.div-text-search > p {
    margin: 5px;
    padding: 5px;
    font-size: 0.8em;
}
/* Overlay Box */
#overlay-box {
    display: var(--display-div);
    flex-direction: row;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    height: 85%;/*height needs to be set*/
    width: 65%;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}
#top-movie {
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid black;
    background-color: #f8ce86;
    border-radius: 5px;
    height: 25px;
}
#top-movie:hover {
    cursor: pointer;
}
#top-movie > p {
    font-size: 0.6em;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 8px;
}
#img-poster-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 55%;
    height: 100%;
    margin: auto;
}
#img-poster {
    display: block;
    width: 85%;
    height: 95%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(151, 31, 31);
}
#info-mov-cont {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 5px;
}
#movie-info-top {
    display: flex;
    flex-direction: column;
    height: 50%;
    overflow: auto;
}
#movie-info-top > p {
    font-size: 0.8em;
    margin-bottom: 4px;
    /* padding-bottom: 4px; */
}
#movie-info-bottom {
    display: flex;
    flex-direction: column;
    height: 50%;
    overflow: auto;
}
#movie-info-bottom > p {
    margin-top: 25px;
    line-height: 1.4em;
    text-align: justify;
    font-size: 0.8em;
    margin-right: 30px;
}
#movie-overview {
    height: 70%;
    overflow: auto;
}
#production-comp-cont {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 30%;
    overflow: auto;
}
.pcLogo {
    display: block;
    height: 40px;
    padding-left: 5px;
}
/* end overlay box */

/* Buttons */
#search-button:hover{
    cursor: pointer;
}
#btn-trailer {
    width: 150px;
}
/* end buttons */

/* P tags */
.p_centered {
    text-align: center;
    margin: auto;
}
#sep {
    line-height: 5px;
    margin: 0px;
    padding: 0px;
    width: auto;
    text-align: center;
}
#movie-overview {
    overflow: auto;
    font-size: 0.92em;
}
.p-bold {
    font-weight: 900;
}
.p-italic {
    font-style: italic;
}
#data_results {
    padding: 10px;
    font-size: 0.9em;
    color: rgb(209, 30, 30);
}
/* end p tags */

/* text type//input tags */
.text-bold {
    font-size: 1.1em;
    color: rgb(209, 30, 30);
}
.text-under-pages {
    font-size: 1em;
    color: rgb(209, 30, 30);
    cursor: pointer;
}
input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
      /* create custom radiobutton appearance */
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px;
    /* background-color only for content */
    background-clip: content-box;
    border: 1px solid #d15555;
    /* background-color: #ffffff; */
    border-radius: 50%;
}
input[type="radio"]:checked{
    background-color: rgb(209, 30, 30);
}
.text-underline {
    text-decoration: underline;
    cursor: pointer;
}
/* end text type tags */

/* Images */
#img-logo {
    /* border: 1px solid black; */
    height: 150px;
    /* box-shadow: 3px 1px 3px #f89d00; */
}
.img-search {
    width: 92px;
    height: 138px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px gray;
}
#tmdb-logo {
    height: 80px;
}

/* media rules */
@media screen and (max-width: 600px){
    #img-logo {
        height: 80px;
    }
    #main-form {
        width: 100%;
    }
    /* text//inputs content */
    .text-bold, #data_results  {
        font-size: 0.7em;
    }
    footer > p {
        font-size: 0.7em;
    }
    #tmdb-logo {
        height: 30px;
    }
    input[type="radio"] {
        width: 15px;
        height: 15px;
    }
    .searchR-div {
        width: 80%;
        flex-direction: column;
    }
    /* end text//inputs content */
    #top-movie {
        position: fixed;
    }
    /* overlay box */
    #overlay-box {
        width: 99%;
        height: auto;
        flex-direction: column;
        overflow: auto;
    }
    #img-poster-cont {
        /* margin: auto; */
    }
    #info-mov-cont {
        width: 100%;
    }
    #movie-info-top {
        top:55%;
    }
    #movie-info-top > p {
        /* font-size: 0.8em; */
        text-align: center;
    }
    #movie-info-bottom {
        width: 100%;
    }
    #movie-info-bottom > p {
        padding: 10px;
        margin: 10px;
    }
    .pcLogo {
        height: 20px;
    }
    /* end overlay box */
}
@media screen and (min-width: 601px) and (max-width:850px){
    /* .searchR-div {
        width: 80%;
        flex-direction: column;
    } */
    /* end text//inputs content */
    /* overlay box */
    #overlay-box {
        width: calc(100% - 5em);
    }
    /* end overlay box */
}
/* end media rules */