html, body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}
/* header */
header {
    position: fixed;
    top:0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    z-index: 3;
}
#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    height: 50px;
    width: 100%;
}
.btn-menu {
    background-color: none;
    border: none;
    color: none;
    background: none;
    width: 34px;
    height: 32px;
}
.svg-menu {
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: sub;
}
.a-links {
    color: black;
    width: 184px;
    height: 25px;
    margin: auto;
}
.btn-menu-l {
    background-color: none;
    border: none;
    color: none;
    background: none;
    width: 34px;
    height: 37px;
}
.cursorp {
    cursor: pointer;
}
#bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid rgb(114, 113, 113);
    height: 20px;
    width: 100%;
}
#ul-top-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* justify-content: center; */
    list-style: none;
    margin:0px;
    padding:0px;
    overflow: hidden;
}
#ul-top-menu li {
    float: inherit;
    padding-right: 10px;
}
.text-small {
    font-size: 0.7em;
}
/* end header */
/* Content */
#content {
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    margin: auto;
}
h1 {
    width: 65%;
    padding: 30px;
    font-size: 2em;
    margin: auto;
}
.img-content {
    height: auto;
    max-width: 100%;
}
article {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
}
#flex-end-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#article-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
#article-menu li {
    float: inherit;
    padding-right: 10px;
}
.circle-div {
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
    height: 25px;

}
.t-read {
    font-size: 1.3em;
    text-align: justify;
}
#subscribe-div {
    width: 200px;
    height: auto;
    text-align: center;
    margin: auto;
}

/* end content */