body {
    background-image: linear-gradient(to right, rgb(243, 247, 214) , rgb(255, 174, 0));
}
#menu-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    /* border: 1px solid goldenrod; */
}
.mini-site {
    display: block;
    width: 100px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
/* #menu-container > div {
    width: 100px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
} */
.mini-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.mini-p {
    font-size: 10px;
}
.img-centered {
    display: block;
    max-height: 100%;
    max-width: 100%;
}
#div-main-img {
    width: 500px;
    border: 1px solid goldenrod;
    margin: auto;
}
.text-inlines {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
    align-items: center;
    margin: auto;
}
.text-inlines > p {
    margin-left: 20px;
    margin-right: 20px;
}
.small-text {
    font-size: 11px;
}
 footer {
    display: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    /* padding-top: 10px; */
    /* background-color: rgb(211, 210, 210); */
}
nav {
    position: fixed;
    top: 0px;
    right: 0px;
    /* width: 100%; */
}
nav > p {
    padding-left: 10px;
    padding-right: 10px;
}
/* Credits */
/* Main image source: https://elearningindustry.com/how-design-thinking-transforming-learning-experience-free-ebook */

/* Media rules */
@media only screen and (max-width: 400px) {
    #menu-container {
        width: 250px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .mini-site {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        margin-bottom: 40px;
        border: 1px solid black;
    }
    #div-main-img {
        width: auto;
        border: 1px solid goldenrod;
        margin: auto;
    }
}