body {
    background-image: linear-gradient(to right, rgb(243, 247, 214) , rgb(255, 174, 0));
}
#menu-container {
    display: flex;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.mini-site {
    width: 100px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
/* #menu-container > div {
    width: 100px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
} */
.mini-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.mini-p {
    font-size: 10px;
}
.img-centered {
    display: block;
    max-height: 100%;
    max-width: 100%;
}
#div-main-img {
    width: 30%;
    border: 1px solid goldenrod;
    /* text-align: center; */
}
.text-inlines {
    max-width: 50%;
    text-align: justify;
    align-items: center;
}
.small-text {
    font-size: 11px;
}
#mainwrap {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    min-height: 100%;
 }
 footer {
    display: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    /* padding-top: 10px; */
    /* background-color: rgb(211, 210, 210); */
}
nav {
    position: fixed;
    top: 0px;
    right: 0px;
    /* width: 100%; */
}
nav > p {
    padding-left: 10px;
    padding-right: 10px;
}

/* Credits */
/* Main image source: https://elearningindustry.com/how-design-thinking-transforming-learning-experience-free-ebook */